.bg-navbar {
    background: #C4122D !important;
}

.txt-navbar {
    color: whitesmoke !important;
}

html, body * { box-sizing: border-box; font-family: 'Open Sans', sans-serif; }

.container {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 100px;
}

input:focus {
    outline: none;
}

::placeholder {
    color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.frame {
    height: 100%;
    width: 430px;
    background: #C4122D;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden;
}

.frame-contact {
    height: 100%;
    width: 860px;
    background: #C4122D;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden;
}

.frame {
    height: 100%;
    width: 430px;
    background: #C4122D;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden;
}

.signup-title {
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 40px;
}

.signup-title a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: solid 2px #ffffff;
    padding-bottom: 10px;
}

.signup-title a:hover {
    color: #ffffff;
}

.form-contact {
    width: 860px;
    height: 100%;
    font-size: 16px;
    font-weight: 300;
    padding: 55px 37px 0;
    transition: opacity .5s ease, transform .5s ease;
}

.form {
    width: 430px;
    height: 100%;
    font-size: 16px;
    font-weight: 300;
    padding: 55px 37px 0;
    transition: opacity .5s ease, transform .5s ease;
}

.form input {
    color: #ffffff;
    font-size: 13px;
}

.form-styling {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    background: rgba(255,255,255,.2);
}

label {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 15px;
    padding-bottom: 10px;
    color: white;
    display: block;
}

.btn-signup {
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: #C4122D;
    margin-bottom: 20px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 10px;
    margin-top: 23px;
    background-color: #ffffff;
}

h1 {
    color: #ffffff;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
}

.formRow {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

.formSpace {
    margin-left: 25px;
}