<!DOCTYPE html>
<html lang="fr" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <link rel="stylesheet" th:href="@{/css/style.css}">

  <title th:text="${title}">Contact Manager</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-navbar">
    <div class="container-fluid">
      <a class="navbar-brand txt-navbar" href="/">Contact Manager</a>
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link txt-navbar" href="/">Accueil</a>
          </li>
          <div sec:authorize="isAnonymous()">
            <li class="nav-item">
              <a class="nav-link txt-navbar" href="/login">Connexion</a>
            </li>
          </div>
          <div sec:authorize="isAnonymous()">
            <li class="nav-item">
              <a class="nav-link txt-navbar" href="/signup">Inscription</a>
            </li>
          </div>
          <div sec:authorize="isAuthenticated()">
            <li class="nav-item">
              <a class="nav-link txt-navbar" href="/listContact">Liste des contact</a>
            </li>
          </div>
          <div sec:authorize="isAuthenticated()">
            <li class="nav-item">
              <a class="nav-link txt-navbar" href="/addContact">Ajouter un contact</a>
            </li>
          </div>
          <div sec:authorize="isAuthenticated()">
            <li class="nav-item">
              <a class="nav-link txt-navbar" href="/logout">Se déconnecter</a>
            </li>
          </div>
        </ul>
    </div>
  </nav>

  <div th:replace="${content}"></div>
  <script>
    function addField(name)
    {
      if(name === "email") {
        let number = document.getElementById("email_number").value;
        let container = document.getElementById("emailContainer");

        while (container.hasChildNodes())
        {
          container.removeChild(container.lastChild);
        }


        if(number == 0)
        {
          let input = document.createElement("input");
          input.name = "email";
          input.type = "hidden";
          container.appendChild(input);
        }

        for (let i = 0; i < number; ++i)
        {
          let div = document.createElement("div");
          if (i%2 === 0)
          {
            div.classList.add("formRow");
          }
          else
          {
            div.classList.add("formRow","formSpace");
          }
          let input = document.createElement("input");
          input.className = "form-styling";
          input.type = name;
          input.name = "email";
          input.placeholder = "Email n°"+(i+1);
          div.appendChild(input)
          container.appendChild(div);
        }
      }
      else
      {
        let number = document.getElementById("adr_number").value;
        let container = document.getElementById("adrContainer");

        while (container.hasChildNodes())
        {
          container.removeChild(container.lastChild);
        }

        if(number == 0)
        {
          let input = document.createElement("input");
          let input2 = document.createElement("input");
          let input3 = document.createElement("input");
          let input4 = document.createElement("input");
          input.name = "ville";
          input.type = "hidden";
          input2.name = "code_postal";
          input2.type = "hidden";
          input3.name = "first_line";
          input3.type = "hidden";
          input4.name = "second_line";
          input4.type = "hidden";
          container.appendChild(input);
          container.appendChild(input2);
          container.appendChild(input3);
          container.appendChild(input4);
        }

        for (let i = 0; i < number; ++i)
        {
          let input = document.createElement("input");
          let input2 = document.createElement("input");
          let input3 = document.createElement("input");
          let input4 = document.createElement("input");
          let div = document.createElement("div");
          let div2 = document.createElement("div");
          let div3 = document.createElement("div");
          let div4 = document.createElement("div");
          let label = document.createElement("LABEL")
          label.setAttribute("for", "ville[]");
          let h1 = document.createTextNode("Adresse n°"+(i+1));
          label.appendChild(h1)
          container.appendChild(label);
          input.className = "form-styling";
          input.type = "text";
          input.name = "ville";
          input.placeholder = "Ville"
          div.classList.add("formRow");
          div.appendChild(input)
          container.appendChild(div);
          input2.className = "form-styling";
          input2.type = "text";
          input2.name = "code_postal";
          input2.placeholder = "Code postal"
          div2.classList.add("formRow","formSpace");
          div2.appendChild(input2)
          container.appendChild(div2);
          input3.className = "form-styling";
          input3.type = "text";
          input3.name = "first_line";
          input3.placeholder = "Adresse"
          div3.classList.add("formRow");
          div3.appendChild(input3)
          container.appendChild(div3);
          input4.className = "form-styling";
          input4.type = "text";
          input4.name = "second_line";
          input4.placeholder = "Complément"
          div4.classList.add("formRow","formSpace");
          div4.appendChild(input4)
          container.appendChild(div4);
        }
      }

    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>