<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
  <meta charset="UTF-8">

</head>
<body>
<section>
  <div class="container">
    <div class="frame-contact">
      <div class="signup-title">
        <a class="btn">Modifier un contact</a>
      </div>

      <form class="form-contact" th:action="@{/edit-contact}" method="post" th:object="${editContact}" name="form">
        <input type="hidden" name="contactId" th:value="${editContact.get().id}">
        <div class="formRow">
          <label for="name_field">Nom et prénom</label>
          <input class="form-styling" type="text" id="name_field" name="name" placeholder="" th:value="${editContact.get().name}" required/>
        </div>
        <div class="formRow formSpace">
          <label for="phone_number_field">Numéro de téléphone</label>
          <input class="form-styling" type="tel" id="phone_number_field" name="phoneNumber" placeholder="" th:value="${editContact.get().phoneNumber}" required />
        </div>
        <div class="formRow">
          <label for="email_number">Nombre de mail</label>
          <input class="form-styling" onchange="addField('email')" type="number" id="email_number" name="email_number" min="0" th:value="${#lists.size(editContact.get().getEmails())}" required />
        </div>
        <div class="formRow formSpace">
          <label for="adr_number">Nombre d'adresse postale</label>
          <input class="form-styling" onchange="addField('adr')" type="number" id="adr_number" name="adr_number" min="0" th:value="${#lists.size(editContact.get().getPostalAddresses())}" required />
        </div>

        <label for="adr_number">Adresse mail :</label>
        <div id="emailContainer">
          <th:block th:each="email : ${editContact.get().getEmails()}">
            <div class="formRow">
              <input class="form-styling" type="email" name="email" placeholder="Email n°1" th:value="${email.email}">
            </div>
          </th:block>
          <input name="email" type="hidden">
        </div>
        <label for="adr_number">Adresse postale :</label>
        <div id="adrContainer">
          <th:block th:each="adr, iter : ${editContact.get().getPostalAddresses()}">
            <label for="ville" th:text="'Adresse n°'+${iter.count}"></label>
            <div class="formRow">
              <input class="form-styling" type="text" id="ville" name="ville" placeholder="Ville" th:value="${adr.ville}">
            </div>
            <div class="formRow">
              <input class="form-styling" type="text" name="code_postal" placeholder="Code postal" th:value="${adr.cp}">
            </div>
            <div class="formRow">
              <input class="form-styling" type="text" name="first_line" placeholder="Adresse" th:value="${adr.firstLine}">
            </div>
            <div class="formRow">
              <input class="form-styling" type="text" name="second_line" placeholder="Complément" th:value="${adr.secondLine}">
            </div>
          </th:block>
          <input name="ville" type="hidden">
          <input name="code_postal" type="hidden">
          <input name="first_line" type="hidden">
          <input name="second_line" type="hidden">
        </div>

        <button type="submit" class="btn btn-signup">Editer le contact !</button>
      </form>
    </div>
  </div>
</section>
</body>
</html>