<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
</head>
<body>
<section>
  <div class="container">
    <table class="table table-bordered table-dark">
      <tbody>
      <tr>
        <td>Nom</td>
        <td th:text="${infoContact.get().name}"></td>
      </tr>
      <tr>
        <td>Numéro de téléphone</td>
        <td th:text="${infoContact.get().phoneNumber}"></td>
      </tr>
      <tr th:each="emails, iter: ${infoContact.get().getEmails()}">
          <td th:text="'Email n°' + ${iter.count}"></td>
          <td th:text="${emails.email}"></td>
      </tr>
      <tr th:each="adr, iter2: ${infoContact.get().getPostalAddresses()}">
        <td th:text="'Adresse Postal n°' + ${iter2.count}"></td>
        <td th:text="${adr}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
</body>
</html>