<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
</head>
<body>
<section>
  <div class="container">
    <table class="table table-bordered table-dark">
      <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Numéro de téléphone</th>
        <th scope="col">Adresse mail</th>
        <th scope="col">Adresse postale</th>
        <th scope="col">Voir</th>
        <th scope="col">Editer</th>
        <th scope="col">Supprimer</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="contact: ${listContacts}">
        <td th:text="${contact.name}"></td>
        <td th:text="${contact.phoneNumber}"></td>
        <td th:text="${contact.hasMails() ? 'Oui' : 'Non'}"></td>
        <td th:text="${contact.hasPostalAddresses() ? 'Oui' : 'Non'}"></td>
        <td><a class="btn btn-signup" th:href="@{/contact/infos/{id}(id=${contact.getId()})}">Voir</a></td>
        <td><a class="btn btn-signup" th:href="@{/contact/edit/{id}(id=${contact.getId()})}">Editer</a></td>
        <td><a class="btn btn-signup" th:href="@{/contact/delete/{id}(id=${contact.getId()})}">Supprimer</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
</body>
</html>